html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Slab', serif;
}
.container {
  position: absolute;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.container .title {
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  margin-top: 3%;
}
.container .info {
  text-align: center;
  box-shadow: 3px 3px 5px;
  background: #fff;
  border-radius: 4px;
  width: 30%;
  height: 67%;
  margin-top: 3%;
  margin-left: 35%;
}
.container .info .image {
  margin-top: 8%;
  width: 110px;
  height: 110px;
  background-image: url("./assets/bio-pic.jpg");
  border-radius: 55px;
}
.container .info .bio {
  margin-top: 6%;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;
  line-height: 25px;
}
.container .info .bio p {
  margin-top: 7%;
}
.container .info .social-media {
  margin-top: 5%;
}
.container .info .social-media .active {
  opacity: 1;
}
.container .info .social-media .content {
  display: inline-block;
  overflow: auto;
}
.container .info .social-media a {
  display: inline-block;
  outline: none;
}
.container .info .social-media a:not(:first-child) {
  margin-left: 10%;
}
.container .info .social-media a svg {
  outline: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.container .info .social-media a svg:hover {
  border-radius: 100%;
  color: #0e1925;
  fill: #0e1925;
  transform: scale(1.25);
  transition: background-color 0.25s, transform 0.25s ease-out;
}
.container .projects {
  background: #f4f2f2;
  position: absolute;
  top: 100vh;
  text-align: center;
  width: 100%;
}
.container .projects .project {
  margin-top: 10px;
  display: inline-block;
  float: left;
  width: 50%;
}
.container .projects .project img {
  width: 42%;
  border: 1px solid #a9a9a9;
  border-bottom: 0px;
  box-shadow: 2px 2px 5px;
  margin-bottom: 25px;
}
.container .projects .project img.large {
  width: 55%;
}
.container .projects .project img:hover + .detail {
  opacity: 1;
}
.container .projects .project img:hover + .tdp,
.container .projects .project img:hover + .whereto {
  left: 35.8%;
}
.container .projects .project img:hover + .jeand {
  right: 35.8%;
}
.container .projects .project img:hover + .tonematrix {
  right: 39.2%;
}
.container .projects .project p {
  margin-bottom: 25px;
}
.container .projects .project a {
  color: #000;
  text-decoration: none;
}
.container .projects .project .detail {
  opacity: 0;
  position: absolute;
  border: 1px solid #a9a9a9;
  box-shadow: 0px 2px 5px;
  width: 15%;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.container .projects .project .detail.tdp:hover,
.container .projects .project .detail.whereto:hover {
  opacity: 1;
  left: 35.8%;
}
.container .projects .project .detail.jeand:hover {
  opacity: 1;
  right: 35.8%;
}
.container .projects .project .detail.tonematrix:hover {
  opacity: 1;
  right: 39.2%;
}
.container .projects .project .whereto {
  top: 15%;
  left: 20.3%;
}
.container .projects .project .jeand {
  top: 30%;
  right: 20.3%;
}
.container .projects .project . {
  top: 60%;
  left: 20.3%;
}
.container .projects .project .tonematrix {
  top: 80%;
  right: 23.7%;
}
.container .arrows {
  margin-top: 2%;
  text-align: center;
}
.container .arrows svg {
  cursor: pointer;
  width: 40px;
}
.container .arrows path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}
.container .arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
/* Safari 和 Chrome */
}
.container .arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
/* Safari 和 Chrome */
}
.container .arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
/* Safari 和 Chrome */
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Mobile */
@media only screen and (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
  .container .profile {
    height: 100vh;
  }
  .container .profile .title {
    margin-top: 8%;
    font-size: 50px;
  }
  .container .profile .info {
    margin-top: 8%;
    height: 70%;
    width: 75%;
    margin-left: 12.5%;
  }
  .container .profile .info .image {
    margin-top: 10%;
  }
  .container .profile .info .bio {
    margin-top: 15%;
  }
  .container .profile .info .bio p {
    margin-top: 20%;
  }
  .container .profile .info .secondary-bio {
    display: none;
  }
  .container .profile .info .social-media {
    margin-top: 20%;
  }
  .container .profile .arrows {
    display: none;
  }
  .container .projects .project {
    float: none;
    height: 400px;
    width: 230px;
    position: relative;
    margin-bottom: 20px;
  }
  .container .projects .project .detail {
    top: 0;
    left: 0;
    opacity: 1;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
  }
  .container .projects .project .detail p,
  .container .projects .project .detail a {
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
  }
  .container .projects .project .detail .project-title {
    margin-top: 70%;
  }
  .container .projects .project img,
  .container .projects .project img.large {
    box-shadow: none;
    height: 100%;
    width: 100%;
  }
}
